In [ ]:

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt
from pandas import read_csv

import random
#import av
import os 
import numpy as np
import skimage as ski
import skimage.feature
import matplotlib.pyplot as plt
from PIL import Image
import random
import nibabel                      as nib
import nibabel.freesurfer.mghformat as mgh

from scipy.ndimage import zoom

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/s3downloads/code/code_genotype/df_UKBB_APOE.csv')
df

        subj_id  rs429358  rs7412
0       1805819       1.0     2.0
1       4872768       2.0     2.0
2       1473575       2.0     2.0
3       1660055       1.0     2.0
4       2349666       2.0     2.0
...         ...       ...     ...
488372  4055286       NaN     NaN
488373  4298513       NaN     NaN
488374  5318493       NaN     NaN
488375  3150282       NaN     NaN
488376  5086554       NaN     NaN

[488377 rows x 3 columns]

In [ ]:
idm=np.load("/content/drive/MyDrive/Colab Notebooks/s3downloads/data/UKBB/biobank_female_id_all.npy")

In [ ]:
len(idm)

1991

In [ ]:
labellist=[]
id_to_delete=[]

for i in range(len(idm)):
  buf_in=df.index[df['subj_id']==int(idm[i])].to_list()
  if len(buf_in)>0:
    a=(df.iloc[buf_in[0]].at["rs429358"])
    b=(df.iloc[buf_in[0]].at["rs7412"])
    if a==1 and b==2:
      labellist.append(0)
    elif a==2 and b==2:
      labellist.append(1)
    elif a==2 and b==1:
      labellist.append(2)
    elif a==0 and b==2:
      labellist.append(3)
    elif a==2 and b==0:
      labellist.append(4)
    elif a==1 and b==1:
      labellist.append(5)
    else:
      id_to_delete.append(i)
  else:
    id_to_delete.append(i)

In [ ]:
len(labellist), len(id_to_delete)

(1669, 322)

In [ ]:
np.save("/content/drive/MyDrive/Colab Notebooks/s3downloads/data/biobank/y_ukbb_saliency_map_female", labellist)
np.save("/content/drive/MyDrive/Colab Notebooks/s3downloads/data/biobank/id_to_delete_female", id_to_delete)

In [ ]:
a=np.load('/content/drive/MyDrive/Colab Notebooks/s3downloads/data/biobank/id_to_delete_female.npy')
a.shape

(322,)

In [ ]:
a

array([   1,    3,    4,   25,   26,   29,   31,   32,   38,   39,   49,
         50,   58,   59,   75,   77,   78,   85,   99,  100,  102,  110,
        112,  121,  122,  144,  145,  147,  148,  155,  159,  170,  173,
        177,  189,  190,  192,  195,  197,  200,  207,  211,  214,  215,
        229,  240,  248,  251,  255,  260,  261,  263,  271,  272,  276,
        297,  298,  308,  316,  324,  344,  354,  365,  374,  379,  381,
        392,  399,  401,  404,  411,  416,  430,  431,  440,  441,  448,
        460,  466,  473,  477,  483,  488,  500,  507,  523,  531,  533,
        535,  540,  547,  548,  559,  564,  568,  579,  580,  586,  588,
        593,  598,  599,  603,  608,  609,  613,  615,  628,  629,  636,
        643,  664,  670,  687,  691,  694,  697,  719,  730,  735,  745,
        749,  751,  770,  787,  798,  803,  807,  809,  818,  821,  829,
        830,  838,  844,  847,  856,  877,  880,  889,  893,  897,  899,
        920,  922,  926,  931,  933,  953,  962,  967,  972,  977,  979,
        982,  987, 1006, 1008, 1010, 1023, 1028, 1030, 1032, 1035, 1040,
       1046, 1054, 1064, 1070, 1073, 1091, 1097, 1104, 1110, 1118, 1128,
       1138, 1139, 1144, 1145, 1147, 1170, 1172, 1182, 1185, 1194, 1209,
       1215, 1227, 1232, 1233, 1234, 1247, 1248, 1265, 1268, 1277, 1281,
       1286, 1288, 1291, 1295, 1311, 1320, 1324, 1325, 1327, 1338, 1352,
       1355, 1364, 1371, 1372, 1373, 1374, 1384, 1385, 1387, 1391, 1398,
       1400, 1403, 1405, 1406, 1407, 1410, 1411, 1421, 1425, 1426, 1431,
       1444, 1454, 1459, 1462, 1465, 1475, 1487, 1488, 1489, 1494, 1499,
       1509, 1517, 1523, 1525, 1526, 1537, 1541, 1543, 1545, 1547, 1553,
       1559, 1563, 1566, 1578, 1581, 1584, 1587, 1595, 1606, 1610, 1612,
       1615, 1616, 1618, 1625, 1627, 1628, 1629, 1635, 1636, 1651, 1652,
       1656, 1663, 1668, 1680, 1683, 1700, 1705, 1714, 1717, 1734, 1738,
       1745, 1748, 1750, 1751, 1753, 1759, 1772, 1779, 1785, 1806, 1827,
       1839, 1841, 1845, 1851, 1852, 1859, 1868, 1879, 1889, 1895, 1897,
       1900, 1906, 1908, 1918, 1932, 1936, 1939, 1951, 1957, 1960, 1967,
       1968, 1970, 1971])